[submodule "src/Arduino-Makefile"]
	path = src/Arduino-Makefile
	url = git@github.com:sudar/Arduino-Makefile.git
[submodule "src/lib/TimeAlarms"]
	path = src/lib/TimeAlarms
	url = git@github.com:PaulStoffregen/TimeAlarms.git
[submodule "src/lib/rc-switch"]
	path = src/lib/rc-switch
	url = git@github.com:sui77/rc-switch.git
[submodule "src/lib/TimerOne"]
	path = src/lib/TimerOne
	url = git@github.com:PaulStoffregen/TimerOne.git
[submodule "src/lib/DHT-sensor-library"]
	path = src/lib/DHT-sensor-library
	url = git@github.com:adafruit/DHT-sensor-library.git
[submodule "src/lib/Time"]
	path = src/lib/Time
	url = git@github.com:PaulStoffregen/Time.git
[submodule "src/lib/Adafruit_Sensor"]
	path = src/lib/Adafruit_Sensor
	url = git@github.com:adafruit/Adafruit_Sensor.git
[submodule "src/lib/OneWire"]
	path = src/lib/OneWire
	url = git@github.com:PaulStoffregen/OneWire.git
[submodule "src/lib/Arduino-Temperature-Control-Library"]
	path = src/lib/Arduino-Temperature-Control-Library
	url = git@github.com:milesburton/Arduino-Temperature-Control-Library.git
[submodule "src/lib/u8g2"]
	path = src/lib/u8g2
	url = git@github.com:olikraus/u8g2.git
[submodule "kicad/arduino-kicad-library"]
	path = kicad/arduino-kicad-library
	url = git@github.com:Alarm-Siren/arduino-kicad-library.git
[submodule "src/lib/GravityTDS"]
	path = src/lib/GravityTDS
	url = https://github.com/DFRobot/GravityTDS.git
[submodule "src/lib/ShiftRegister74HC595"]
	path = src/lib/ShiftRegister74HC595
	url = https://github.com/Simsso/ShiftRegister74HC595.git
