<script src="jquery.js"></script>
<script src="commands.js"></script>
<script src="control.js"></script>
<script src="status.js"></script>

<h1>Status</h1>
<p id="status"></p>

<h1>Control</h1>
<button class="control" data-cmd="connect">Connect to Garden</button>
<button class="control" data-cmd="disconnect">Disconnect from Garden</button>

<h1>Light 0</h1>
<button class="commands" data-cmd="light0on">On</button>
<button class="commands" data-cmd="light0off">Off</button>
<button class="commands" data-cmd="light0auto">Auto</button>

<h1>Pump 0</h1>
<button class="commands" data-cmd="pump0on">On</button>
<button class="commands" data-cmd="pump0off">Off</button>
<button class="commands" data-cmd="pump0auto">Auto</button>

<h1>Pump 1</h1>
<button class="commands" data-cmd="pump1on">On</button>
<button class="commands" data-cmd="pump1off">Off</button>
<button class="commands" data-cmd="pump1auto">Auto</button>

<h1>Fan 0</h1>
<button class="commands" data-cmd="fan0on">On</button>
<button class="commands" data-cmd="fan0off">Off</button>
<button class="commands" data-cmd="fan0auto">Auto</button>

<h1>Fan 1</h1>
<button class="commands" data-cmd="fan1on">On</button>
<button class="commands" data-cmd="fan1off">Off</button>
<button class="commands" data-cmd="fan1auto">Auto</button>


